<div class="comment">
	<div class="comment-body">
		<%= comment.comment %>
	</div>
	<div class="comment-details">
		Posted <%= time_ago_in_words(comment.created_at)%> ago by <%= comment.user.name %>
	</div>
<div>
