<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<h3>Posts:</h3>
<% @user.posts.each do |post| %>
	<%= render 'shared/summary', post: post %>
<% end %>
</table>