  <tr>
	<td>
  		<div class="post">
        <%= post.description %><br />
    		<%= link_to post.url, post.url %>
		  </div>
    	<div class="poster">
    		Poster: <%= post.user.name %>
    	</div>
	</td>

    <td><%= link_to 'View', post %></td>
  </tr>
