<p id="notice"><%= notice %></p>

<div class="center">
	<p class="banner">
		<%= image_tag("pickle_jar.jpeg", alt: "Yup, a pickle jar", size: "50x50") %>
		Pickle Juice
	</p>

	<%= link_to 'New Post', new_post_path, class: "btn new-post-link" %>
	
	<% @posts.each do |post| %>
	  <%= render 'shared/summary', post: post %>
	<% end %>
</div>