<p id="notice"><%= notice %></p>

<div class="center">
	<h1>Pickle Juice</h1>

	<%= link_to 'New Post', new_post_path %>
	
	<% @posts.each do |post| %>
	  <%= render 'shared/summary', post: post %>
	<% end %>
</div>