<p id="notice"><%= notice %></p>
<h1>Posts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <%= render 'shared/summary', post: post %>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
