@import "bootstrap";

.center	{
	text-align: center;	
}

.post {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 30;
	margin-top: 15px;

	h3 {
		font-size: 10px;
	}

	.url {
		font-size: 14px;
	}
	.description {
		font-size: 14px;
	}
	.view {
		float: right;
	}
}

div.hero-unit h1 {
	margin-bottom: 20px;
}

.main-container {
	margin-top: 40px;
}

.post-score {
	padding-right: 20px;
	text-align: center;
}

.banner {
	font-size: 76px;
	margin-bottom: 40px;
}

.new-post-link {
	margin-bottom: 20px;
}

.comments {
	margin-top: 20px;
}

.comment {
	margin-top: 10px;
	margin-bottom: 10px;

	.comment-details {
		font-size: 9px;
	}	
}

.add-comments {
	margin-top: 40px;
}