@import "bootstrap";

.center	{
	text-align: center;	
}

.post {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 30;

	h3 {
		font-size: 10px;
	}

	.url {
		font-size: 14px;
	}
	.description {
		font-size: 14px;
	}
	.view {
		float: right;
	}
}

div.hero-unit h1 {
	padding-bottom: 10px;
}

.main-container {
	padding-top: 40px;
}
