@import "bootstrap";

.center	{
	text-align: center;	
}

.post {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;

	.url{
		font-size: 18px;
	}
	.description {
		font-size: 18px;
	}
	.view{
		float: right;
	}
}

div.hero-unit h1 {
	padding-bottom: 10px;
}

div.main-container {
	padding-top: 40px;
}